/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300';

// Variables
// ========================================================================

//
// Spacings
//


// Xdebug
th { background: #01bcf2!important; }
th span { color: #fff!important; background: #000!important; }
//td { color: #000!important; }
@global-margin: 20px;
@global-large-margin: 30px;
@global-font-size: 14px; 
//
// Text
//

@global-link-color: #dc7b1b;
@global-link-hover-color: #0074a2;

//
// Backgrounds & Borders
//

@global-primary-gradient-top: #5cc0ea;
@global-primary-gradient-bottom: #4cacd7;

//
// Base
//

@base-h1-font-size: round(@global-font-size * 2.85); // 40px
@base-h1-line-height: round(@base-h1-font-size * 1.25); // 50px
@base-h2-font-size: round(@global-font-size * 2.28); // 32px
@base-h2-line-height: round(@base-h2-font-size * 1.25); // 40px
@base-h3-font-size: round(@global-font-size * 1.71); // 24px
@base-h3-line-height: round(@base-h3-font-size * 1.25); // 30px
@base-h4-font-size: round(@global-font-size * 1.28); // 18px
@base-h4-line-height: round(@base-h4-font-size * 1.33); // 24px
@base-selection-background: #dc7b1b;
@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Open Sans';
@base-heading-font-weight: 300;

//
// Panel
//

@panel-box-primary-background: #eefaff;
@panel-box-primary-color: #699eb3;
@panel-box-primary-title-color: #3484a4;

//
// Article
//

@article-title-font-weight: 300;

//
// Nav
//

@nav-padding-horizontal: 20px;
@nav-side-active-box-shadow: rgba(0,69,109,0.25);
@nav-dropdown-hover-box-shadow: rgba(0,69,109,0.25);
@nav-navbar-hover-box-shadow: rgba(0,69,109,0.25);
@nav-search-active-box-shadow: rgba(0,69,109,0.25);

//
// Navbar
//

@navbar-nav-height: 45px;

//
// Button
//

@button-primary-hover-background: #53b5de;
@button-primary-active-background: #359ac4;

//
// Icon
//

@icon-button-hover-color: @global-link-hover-color;

//
// Badge
//

@badge-font-size: 11px;
@badge-font-weight: normal;

//
// Thumbnail
//

@thumbnail-background: #fff;

//
// Dropdown
//

@dropdown-width: 220px;

//
// Utility
//

@utility-heading-large-font-size: round(@global-font-size * 3.71); // 52px
@utility-heading-large-line-height: round(@utility-heading-large-font-size * 1.23); // 64px


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2014, 8:51:14 AM
    Author     : nickdecker
*/ 

@white: #eee;
@superWhite: #fff;
@blue: #009dd7;
@lightBlue: #01bcf2;
@black: #000;
@impulseOrange: #f6861f;


/* Website setup stuffs for styling */
html { color: efefef; }
body { background: #000 url(http://napleslivenow.com/wp-content/uploads/2015/07/nln_background.jpg) fixed no-repeat;
       background-position: top 175px center; 
       font-family: 'Open Sans', Arial, sans-serif;
       color: @white; }
#mobile-container, #goto-filters { display: none; }
a, a:visited { color: @blue; }
h1, h2, h3, h4, h5, h6 { color: @superWhite;}
aside h1, aside h2, aside h3 { color: @lightBlue; }
main.tm-content { max-width: 800px; width: 800px; display: inline-block; vertical-align: top; }
aside.sidebar { max-width: 300px; width: 290px; margin: 0 0 0 30px; display: inline-block; vertical-align: top; background: rgba(255,255,255,0.96); border-radius: 9px; color: @black; }
.widget { margin: 20px; }
.tm-main>:nth-child(n+2) { margin-top: 0; }
.blue-text { color: #0097ce; }
.orange-text  {color: #dc7b1b; }
#venue-this-week h4, h4.small-title { display: block; vertical-align: top; margin: 9px 0 5px 25px; font-weight: 700; font-size: 1.6em; }
.fRight, .float-right { float: right; }
.fLeft, .float-left { float: left; }
.column { display: inline-block; width: 49%; vertical-align: top; }
input, select { margin: 1px; padding: 3px 5px; color: #000; }
.input-spacer { width: 125px; display: inline-block; }
.hidden-field { display: none; }
.center { text-align: center; }

/* Remove Sidebar */

body.isvenue main.tm-content, body.tribe-events-page-template main.tm-content { width: 100%; max-width: 100%; }
body.tribe-events-page-template .uk-article-title, body.isvenue .uk-article-title { display: none; }
body.tribe-events-page-template *, body.isvenue main.tm-content * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#tribe-bar-form input[type="text"] { height: 38px!important; }
/* Header */
.logoMain { width: 40%; }


/* Sidebar */
.filter { display: block; cursor: pointer; }
.filter h2 {  font-size: 20px; position: relative; margin: 0 0 0 19px; }
.filter h2.normal:before { position: absolute; top: 12px; left: -15px; content: ' '; width: 0; height: 0; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-left: 7px solid @blue; }
.filter h2.expand:before { position: absolute; top: 17px; left: -19px; content: ' '; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid @blue; }
.filter div { display: inline-block; line-height: 27px; margin: 5px 0; cursor: pointer; }
.filter label { font-size: 18px; letter-spacing: 1px; display: block; }
.filter label input { margin: 0 6px 5px 0; vertical-align: middle; }

.filter div.filter-options { display: none; }


/* Menu */
nav { text-align: center; }
.tm-navbar { }
.uk-navbar { background: none; }
.uk-navbar-nav { float:initial; display: inline-block; }
.uk-navbar-nav>li { }
.uk-navbar-nav>li:hover>a { background: @blue; color: @superWhite; border-radius: 4px; }
.uk-navbar-nav>li>a { background: none; color: @white; font-weight: 700; margin: auto 5px; }
.uk-navbar-nav>li.uk-active>a { border-radius: 4px; background: @blue; color: @superWhite; }
.uk-navbar-nav>li.uk-open>a { background: #009dd7; border-radius: 4px; color: #fff; }
.uk-dropdown-navbar { border-radius: 8px; }


/* Featured Slider */

#featuredSlider { }
#featuredSlider .res_slider { background: @lightBlue; }
#featuredSlider img { }
#featuredSlider h2 { color: @superWhite; font-size: 110%;}
#featuredSlider h3 { color: @superWhite; font-size: 100%; }
#featuredSlider span.dark { color: @black; }


/* Admin */


/* Venues */

.venue { margin-top: 10px;  background: rgba(255,255,255,0.96); color: #000; border-radius: 9px; margin-bottom: 20px; overflow: hidden; }
.venueImage, .venueDetails { display: inline-block; }
.venueImage { max-height: 250px; overflow: hidden; vertical-align: top; width: 100%; }
.venueImage img { width: 100%; border-radius: 9px 0 0 9px; }
.venue .logo { float: right; width: 20%;  }
.venue .logo img { border-radius: 0 9px 0 0; }
.venue .hours { font-size: 90%; }
.venueDetails { margin-left: 7px; padding: 10px 15px; max-width: 481px; }
.venueDetails h2 a { font-family: Open Sans, arial, sans-serif; color: #6fa032; font-size: 150%; line-height: normal; margin: 3px 0 0 0; font-weight: 500; }
.venueDetails * { margin: 0; }
.venueDetails h3 { font-size: 140%; color: #000; }
.venueDetails h4 { font-size: 130%; color: #000; }
.venueDetails h5 { font-size: 120%; color: #000; }
.venueDetails h5 a { color: #000; }
.venueDetails p { font-size: 110%; color: #000; }
.venueDetails span.title { color: #4B7035; }
.venueDetails .options .priceRange { font-weight: 700; color: #4B7035; }
.venueDetails .mealType { font-size: 70%; color: #000; }
.meal-type { padding: 5px 10px; background: #000; color: #fff; border-radius: 4px; margin: 5px; display: inline-block; }
.venueDetails .venueFlag { margin-top: 8px; }
.venueDetails .flags { width: 100%; overflow: hidden; font-size: 90%; }
.die { margin-top: 20px; font-style: italic; background: rgba(0,0,0,0.5); padding: 4px; border-radius: 9px; }
#pagination { text-align: center; width: 100%; }
#pagination ul { list-style-type: none; margin: 0; padding: 0; display: inline-block; background: rgba(255,255,255,0.96);  }
#pagination ul li { padding: 0; margin: 0;display: inline; cursor: pointer; }
#pagination ul li span, #pagination ul li a { padding: 0; margin: 0; display: inline-block; border: 1px solid #ddd; padding: 6px 9px; margin-left: -1px; color: #009DD7; }
#pagination ul li span:hover { text-decoration: none; background: #6fa032; color: #fff; }
.current_pagination { color: #fff!important; background: #6FA032; }
.venue-head div { padding-bottom: 5px; }
.namesearch input { color: #000; }
/* happy hour */

#favorite-hh { margin-bottom: 30px; background: #efefef; padding: 25px; border-radius: 15px; text-align: center; position: relative; }
#favorite-hh #hh-icon { position: absolute; left: 30px; z-index:20; margin-top: -90px; }
#favorite-hh, #favorite-hh h2 { color: #000; }
#favorite-hh h2:before { }
#favorite-hh h2 { margin-top: 0; }
#favorite-hh-form { display: inline-block; position: relative; }
#favorite-hh-form:before { content: 'Select Your Favorite'; position: absolute; left: -105px; background: #009dd7; width: 100px; color: #efefef; padding: 8.5px; border-radius: 4px 0 0 4px; margin-top: ; }

#favorite-hh #select-your-favorite { background: #009dd7; padding: 11px; border-radius: 0 4px 4px 0; }
#favorite-hh-form input { display: none; }
#favorite-hh-form label { padding: 15px;  cursor: pointer; font-weight: 700; }
#favorite-hh-form label.active { background: #dc7b1b; border-radius: 4px; }
#hh-data { border-radius: 0 0 15px 15px; padding: 0 25px 25px 25px;  background: #efefef; }
//.best-hh { background: #efefef; padding: 25px; }
.best-hh h2 {  text-align: center; background: #009dd7; padding: 25px 25px 15px 25px; border-radius: 15px 15px 0 0; margin-bottom: 0;}
#best-hh-data { width: 100%; }
#best-hh-data thead td {  color: #efefef; }
#best-hh-data td {  color: #000; font-size: 1.3em; }
#best-hh-data td.venue-name { color: #009dd7; font-size: 1.6em;  }
#best-hh-data tr:nth-child(2n + 2) { border-bottom: 1px solid #000; }
#best-hh-data tr:last-child { border-bottom: none; }
#best-hh-data thead { background: #0097ce; display: none; }
.active, #favorite-hh-form label:hover { background: #009dd7!important; color: #efefef; border-radius: 4px; }
.imc main.tm-content { width: 100%; max-width: 100%;}



/* Venue Page */ 


#venue-main { color: #000; margin-bottom: 20px; }  
#venue-main-bottom { padding: 15px; background: #94ca51; border-radius: 0 0 15px 15px; }
#venue-main p { font-size: 1.4em; margin: 0; line-height: 1.3em; }
#venue-image {} 
#venue-image img { border-radius: 15px 15px 0 0; }
.venue-main-details { width: 60%; display: inline-block; vertical-align: top; }
.venue-main-details h1 { display: inline-block; font-weight: 400; margin-bottom: 0; }
.venue-main-details .venue-cuisine { font-size: 1.4em; margin-left: 10px; color: #efefef; }

.venue-image-details { display: inline-block; width: 39%; }
.additional-images {}
.venue-thumbnail-container { display: inline-block; width: 50px; height: 50px; overflow: hidden; margin-right: 10px; }
.venue-thumbnail { cursor: pointer; width: auto; height: auto; max-width: 175px; max-height: 150px; }
.social { }
.claim-link { float: right; }
#venue-second { background: #009fd9; border-radius: 15px; float: left; width: 100%; margin-top: 20px; }

.map-details { width: 35%; display: inline-block; float: left; overflow: hidden; }
.map-details img.map-image { border-radius: 15px 0 0 0; border-bottom: 8px solid #94ca51; }
#venue-map-details { position: relative; padding: 15px; border-radius: 0 0 0 15px; background: #efefef; color: #000; width: 35%; display: inline-block; float: left; }
#venue-map-details h2 { color: #000; margin-left: 25px; display: inline; font-weight: 400; }
#venue-map-details img { position: absolute; }
#venue-map-details p { margin: 0; }
#venue-map-details p span { font-size: 1.3em; }
.details {}
.venue-excitement { width: 65%; display: inline-block; vertical-align: top; float:right; padding: 15px; min-height: 360px; }
.venue-excitement h3 { font-size: 2.9em; text-align: center; margin: 20px 0 35px 0; font-weight: 600; }
.venue-excitement .title { font-size: 1.9em; }
.venue-excitement .hh-insert { position: relative; }
.hh-container { display: none; }
.venue-excitement #hh-live, .venue-excitement .entertainment { font-size: 1.5em; line-height: 1.3em; color: #000; font-style: italic; margin-left: 20px; }
.venue-excitement #hh-live .old-price, .old-price { position: relative; text-decoration: line-through; }
.isvenue .uk-article { background: none; }



#venue-this-week { }
.half-venue { width: 55%; background: #efefef; border-radius: 15px; float: right; margin-top: 45px; padding: 20px; }
#venue-hh.half-venue { float: left; width: 43%; }
#venue-this-week .icon { float: left; margin-right: 10px; }
#venue-this-week .title { margin-left:25px; vertical-align: top; }

#venue-this-week #hh-specials { margin-top: 35px; color: #000; }
.isvenue .time-span { display: block; }
#venue-this-week .left { width: 21%; vertical-align: top; font-size: 1.3em; text-align: left; margin-right: 10px; }
#venue-this-week .right { width: 76%; font-size: 1.2em; font-style: italic; min-height: 48px; }
#venue-this-week .left, #venue-this-week .right { color: #000; display: inline-block; }
#venue-this-week .right .old-price { text-decoration: line-through; }
#venue-this-week .right .new-price { color: #0097ce; display: inline-block; margin-bottom: 5px; }

#venue-this-week .hh-container { display: block; }
#venue-this-week .hh-container > span { display: block; margin-bottom: 10px;  }

#hhs { display: none; }





/* Events */
#tribe-events-content { position: relative; }
.tribe-events-notices, .tribe-events-notices ul, .tribe-events-notices ul li { display: none!important; }
body.tribe-events-page-template { }

#events-summary { background: #dc7b1b; border-radius: 15px; color: #000; width: 100%; margin-bottom: 45px;  min-height: 250px; }

#events-totals { background: #dc7b1b; border-radius: 15px; position: relative; width: 100%; }
#events-totals #events-week { border-radius: 15px 0 0 15px; }
#events-totals > div { min-height: 250px; width: 33%; float: left; padding: 25px; }
#events-totals #events-week, #events-totals #events-middle { background: #efefef; }
.music-icon { position: absolute; top: -45px; left: 45px; }
.events-text { margin-top: 40px; }
#events-totals #events-right { background: #dc7b1b; color: #000; }
#events-totals #events-right h4 { color: #000; }

#featured-event { background: #efefef; border-radius: 15px; padding: 25px; color: #000; margin-bottom: 45px;  }
#featured-event h2 { font-weight: 700; }
#featured-event h3 { color: #000; }
#tribe-events-pg-template { max-width: 1130px; }
#tribe-events-bar { margin-top: 45px; }
#tribe-bar-form { border-radius: 15px; background: #efefef!important; padding: 25px; }
h2.tribe-events-page-title { display: none; }
.tribe-events-list-separator-month { display: none; }
.tribe-events-loop .vevent { width: 48%; display: inline-block; font-size: 1.4em; }
.tribe-events-loop .vevent:nth-child(odd) { margin-left: 3%; }
.tribe-events-loop { padding: 25px; border-radius: 15px; color: #000; background: #efefef; }
.tribe-events-list .tribe-events-event-cost span { margin-right: 15px; background: #dc7b1b; }

#tribe-events-content table.tribe-events-calendar { background: #efefef; border-radius: 15px; border: none!important; }
table.tribe-events-calendar th { border: none!important; }
.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a { background: none!important; color: #dc7b1b; font-size: 1.4em; }
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a { color: #dc7b1b; }
#tribe-events-monday { border-radius: 15px 0 0 0; }
#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title { text-align: center; }
#tribe-events-content .tribe-events-calendar td { height: 130px; }
.tribe-events-calendar th, .table-condensed th { background: #efefef!important; color: #000!important; }
.tribe-events-calendar h3 > a, .tribe-events-calendar h3 > a:visited { color: #000!important; }
.tribe-events-calendar h3 > a:hover { color: #dc7b1b!important; }
.tribe-events-othermonth, .tribe-events-past { background: #ffe698!important; margin-bottom: 10px; }
.tribe-events-nav-previous.tribe-events-nav-left.tribe-events-past { background: none!important; margin-top: 15px!important; }
.tribe-bar-views-inner { background: none; }
#tribe-bar-form label { color: #000; }
#tribe-bar-views .tribe-bar-views-list { background: #fff; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { background: none; }

.tribe-events-present { position: relative; }
.tribe-events-present:before { content: url(http://napleslivenow.com/wp-content/plugins/in-my-city/images/event-icon.png); position:absolute; width: 75px; height: 104px; top: -70px; left: 45px;  }
.tribe-events-calendar tr:last-child > td:first-child { border-bottom: none!important; border-left: none!important; }
.tribe-events-calendar:last-child:first-child { background: green!important; }
.tribe-events-calendar tr:last-child > td:last-child { border-bottom: none!important; border-right: none!important; border-radius: 0 0 15px 0;}
.tribe-events-calendar tr:last-child > td { border-bottom: none!important; }
.tribe-events-calendar tr > td:last-child { border-right: none!important; }
.tribe-events-calendar tr > td:first-child { border-left: none!important; }
.tribe-events-calendar tr > th:last-child { border-radius: 0 15px 0 0; }
#tribe-events-content .tribe-events-calendar tr:last-child td:first-child:hover { border-radius: 0 0 0 15px; }
#tribe-events-content .tribe-events-calendar tr:last-child td:last-child:hover { border-radius: 0 0 15px 0; }
.tribe-events-nav-previous span, .tribe-events-nav-next span, .tribe-events-nav-previous a, .tribe-events-nav-next a { color: #dc7b1b; }
#tribe-events-bar { margin-top: 0; }
#tribe-bar-form .tribe-bar-submit input[type=submit] { background: #dc7b1b; color: #000; margin-top:11px;  }
#tribe-bar-form input[type="text"] { color: #000; background: #fff; padding: 8px; border: none; }
.tribe-events-list .time-details, .tribe-events-list .tribe-events-venue-details { font-size: 1.4em; font-weight: normal; line-height: 1.4em; }
#tribe-events-content a, .tribe-events-event-meta a { font-weight: 500; }
.tribe-events-list .tribe-events-event-image { float: right; margin: 0; }
.tribe-events-page-template .tm-middle.uk-grid a, .tribe-events-page-template .tm-middle.uk-grid a:visited { color: #dc7b1b; }
.tribe-events-page-template h2 a { color: #000!important;  }
.tribe-events-page-template .column label { display: inline-block; font-weight: 700; } 

.tribe-events-single { background: #efefef; padding: 25px!important; border-radius: 15px; color: #000; }
.tribe-events-single h2, .tribe-events-single h3 { color: #000;  }
.single-tribe_events .tribe-events-event-meta { border: none; background: none; }
.tribe-events-event-meta .tribe-events-meta-group, .tribe-events-event-meta .column { padding-right: 0;}
.featured #tribe-events-gmap { display: none; }
#date-script { margin-top: 30px; }
#create-event { width: 100%; text-align: right; margin-bottom: 15px;  }
body.create-event .wider { width: 280px; }


#imc-event-form { margin-top: 15px; }
#imc-event-form label { margin-bottom: 15px; display: block; }
#imc-event-form label.timepicker { display: inline-block; }
#imc-event-form .event-category label { display: inline-block; margin-bottom: 3px; }
#imc-event-form .date-picker { cursor: pointer; }
.extra-text { margin: 5px 0 0 130px; display: block; font-style: italic; }
.ui-datepicker-calendar th { background: #dc7b1b!important; }
.ui-datepicker-calendar th span { background: none!important; color: #000!important; }


body.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group, .tribe-events-event-meta .column { width: 100%; }
body.single-tribe_events dl { width: 33%; display: inline-block; word-break: break-word; }

.create-event .media-frame-title { background: #FFCE2F; }
.create-event .media-router a:last-child { display: none; }
.create-event .active { background: none!important; }
.create-event .attachment { display: none; }
.create-event .selected { display: block; }
.create-event .media-toolbar-primary input[type="search"] { display: none; }
.create-event .ui-state-highlight { background: #dc7b1b!important; border: 1px solid #F0B700!important; }


.create-event .media-frame input[type=email], .create-event .media-frame input[type=number], .create-event .media-frame input[type=password], 
    .create-event .media-frame input[type=search], .create-event .media-frame input[type=text], .create-event .media-frame input[type=url], 
    .create-event .media-frame select, .create-event .media-frame textarea { color: #000!important; }
.create-event #imc_image_preview { margin: 20px 0; }

.single-tribe_events #tribe-events-gmap, .tribe-filter-live .tribe-events-gmap, .tribe-filter-live .tribe-events-address { display: none!important; }
.single-tribe_events .get-free-button { display: none; }
.single.tribe-filter-live  .tribe-events-address { display: block!important; }
.tribe-filter-live .tribe-events-venue-details { color: #efefef; }
.tribe-filter-live .tribe-events-list-event-description { display: none; }
#event-specials { margin-top: 40px; color: #000; }
.tribe-events-list .vevent.hentry { vertical-align: top; }
.tribe-events-viewmore { border-top: none; }
.create-event-button, .get-free-button { background: #dc7b1b; padding: 8px 10px; color: #000!important; }
.single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .events-list #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer { border-top: none; }
#event-map { float: right; vertical-align: top; }

.tribe-events-loop.hfeed.vcalendar .vevent { width: 95%!important; }
.tribe-events-nav-next.tribe-events-nav-right { margin-top: 15px!important; }
.tribe-events-list .tribe-events-loop .tribe-events-content { width: 80%; line-height: 1.2; }

.type-tribe_events .band { background: rgba(255, 206, 49, 1); border-radius: 0; }
h4.event-featuring { color: #000; margin: 5px 0 5px 0; }
.tribe-events-loop .tribe-events-event-meta { margin-bottom: 5px; }

#imc-event-result { color: red; }

/* BLOG */

.imc-blog .tm-content { text-align: center; max-width: 100%!important; width: 100%!important; }
#blog-container { display: inline-block; padding: 20px; /*background: rgba(255,255,255,0.9); border-radius: 15px; */}
#blog-container .blog-interior { background: rgba(255,255,255,0.9); padding: 20px;  margin: -60px 0 100px 0; color: #000; border-radius: 15px; }
.blog-interior * { color: #000; }
#blog-container > * { width: 70%; text-align: left; display: inline-block;  }
#blog-container > img, .imc-blog .tm-content #blog-container > h2 { width: 100%; }
.uk-article { background: rgba(255,255,255,0.9); color: #000; padding: 20px; border-radius: 15px; }
h1.uk-article-title { color: #009dd7; }
h2.uk-h3 { color: #000; }
body.single, body.blog { line-height: 22px; }

.attraction .action-like { display: none; }
/* Slider */

.slider-row label { display: block; margin: 10px 0;}
.slider-row .label { display: inline-block; width: 100px; }
#paid-slider-wrapper { position: relative; min-height: 588px; }
.paid-slider { width: 100%; max-width: 1130px; position: absolute; }
.paid-slider img { width: 100%; margin-top: -257px; }
.paid-slider-content { background: #009dd7; border-radius: 0 0 15px 15px; color: #fff; width: 100%; float: right; min-height: 217px; }
.paid-slider-content h2 { font-size: 2.7em; margin: 0; padding: 15px 15px 0 15px; color: #fff; font-weight: 700; }
.paid-slider-content span.smaller { font-size: .5em!important; }
.paid-slider-content #hh-hours { float: right; }
.paid-slider h3 { color: #fff; font-size: 1.7em; line-height: normal; vertical-align: top; margin-top: 15px; text-align: center; padding-bottom: 15px; }
.paid-slider-specials, .paid-slider-hh { width: 40%; display: inline-block; padding: 5px 15px 0 15px; }
.paid-slider .image-container { max-height: 350px; border-radius: 15px 15px 0 0; overflow: hidden; }
.paid-slider img.food-icon { width: 75px!important; position: absolute; margin: -50px 20px 0 0; right: 0;  }
label span.label-active { display: inline-block; margin: 20px 10px 0 0; }
.home .events-list h3 { line-height: 34px; }
.home .events-list { display: table; }
.home .events-list .eventRow { display: table-row; }

.home .events-list .eventRow .eventColumn { display: table-cell; width: 50%; padding: 20px; border-bottom: 1px solid #fff; }
.home .events-list .eventRow:last-of-type .eventColumn { border-bottom: none; }
.home .events-list .eventRow > .eventColumn:last-of-type { border-left: 1px solid #fff; }
.home #venue-this-week .icon { margin-top: -50px; }
.home #venue-this-week .title { margin-top: 10px; }
.home .home-event { background: #efefef; border-radius: 15px; width: 100%;  margin-top: 45px; }
.home .home-event h2 { color: #fff; height: 1.8em; margin-bottom: 0; text-align: center; }
.home .home-event a:hover { text-decoration: none; }
.home .home-event .orange-text { margin-bottom: 40px!important; }
.home #venue-events { padding: 20px 20px 40px 20px; display: inline-block; vertical-align: top; }
.home #event-totals-home { display: inline-block; vertical-align: top; margin-left: 40px; color: #000; padding: 20px; margin-right: 20px; }
.home #event-totals-home table { font-size: 1.2em; font-style: italic; }

.home .events-list { background: #DC7B1B; color: #fff; border-radius: 0 0 15px 15px; }
.home .events-list a { color: #fff!important; }
.home .excerpt { text-align: right; color: #efefef!important; margin: 0; font-size: 1.4em; line-height: 1.4em; letter-spacing: .8px; font-weight: 300;}
.home .home-event-image { width:25%; float: right; margin: 0 0 15px 15px; padding: 3px; background: #efefef; }

.half-home { width: 48%; margin: 30px 1%; display: inline-block; background: #94ca51; border-radius: 15px; padding: 20px; box-sizing: border-box; }
.half-container div:first-child { margin-left: 0; clear: both; }
.half-container div:last-child { margin-right: 0; float: right; }
.half-home label { width: 50%; float: left; }
.half-home .center { margin: 10px 0 0 0; }
.clear { clear: both; }
.more-options { margin: 20px 0 0 0; padding: 5px 8px; background: #efefef; border-radius: 5px; display: inline-block; }
.more-options:hover { text-decoration: none; }
#random-venue { background: #009dd7; }
.half-hh { width: 49%; float: left; }


//Target Content Location: Home page, Happy Hours View
.daily-hh { color: black; background-color:white; border-radius:10px; margin-top: 1.5em; font-size: 1.5em;}
table.hh { display: inline-block; }
table.hh td { padding: 7px; text-align: left;  }
.daily-hh-list { width: 100%; position: relative; padding: 20px; text-align: center; }
.daily-hh h3 { color: #dc7b1b; font-weight: 700; margin: 0 10px 10px 0; display: inline; }
.daily-hh-time { line-height: 1.2em; text-align: center; display: block; }
.daily-hh-list ul { list-style:none; }
.daily-hh-list ul li { padding: 10px 5px; }
.daily-hh-list-price { color: blue; }
.hh-title-home { margin-left: 40px; }
.home-hh-icon { position: absolute; left: 25px; top: -45px; }


/* Ad css */


#imc-campaign-3 { width: 100%; }
#imc-campaign-5 { width: 350px!important; display: inline-block; float: right; position: relative; top: 10px; }
#imc-campaign-3 ul { min-height: 600px; max-height: 600px; }
#imc-campaign-5 ul, #imc-campaign-5 { min-height: 115px; max-height: 115px; height: 115px!important; overflow: hidden; }
div[id^="imc-campaign"] ul { position: relative; width: 100%!important; list-style: none; padding: 0; margin: 0; overflow: hidden; }
div[id^="imc-campaign"] li { position: absolute; top: 0; left: 0; }
div[id^="imc-campaign"] img { width: 100%;  }
.image-campaign { border-radius: 15px; min-height: 300px!important; }
.image-campaign li {
	display: list-item;
	float: left;
	padding: 0;
	margin: 0;
}
.image-campaign li img {
	width: 100%;
}

.image-campaign .rotate, .image-campaign li { z-index: 1; display:none; }
.image-campaign .rotate.active-ad, .image-campaign .current_slide { z-index: 10; display: block; }


/* Musicians */
#add-musician { cursor: pointer; background: #009dd7; padding: 8px 10px; color: #efefef; display: inline-block; }
.hidden { display: none; }
#modal { position: fixed; width: 100%; height: 100%; z-index: 100; background: rgba(0,0,0,0.5); left: 0; top: 0; }
#add-musician-input { position: absolute; width: 80%; left: 10%; display: none; top: 40px; box-sizing: border-box; background: #009dd7; padding: 40px; border-radius: 15px; }
#add-musician-input input { color: #000; }
#add-musician-input label { display: block; padding: 2px 0; }
#add-musician-input label input.button-primary { margin-top: 10px; }
#add-musician-input input, #add-musician-input textarea { width: 100%; color: #000;}
.close-modal { right: -16px; position: absolute; top: -16px; background: #efefef; border-radius: 32px; padding: 5px; }
.band { background: rgba(255,255,255,0.96); border-radius: 15px; padding: 20px; margin-bottom: 15px; color: #000; }
.band img { max-width: 150px; width: 200px; display: inline-block; }
.band h2, .band h3 { display: inline-block; margin-left: 25px; color: #009dd7; }
.band h3 { color: #000; }
.band-links { padding: 20px 0; }
.band-links img { margin-right: 20px; }
.bandcol { float: left; margin-right: 5%; width: 45%; }
.genre-container { float: left; width: 100%; }
.genre-container label { width: 20%; float: left;}
.genre-container input[type="checkbox"] { width: 15%!important; float: left;}
.genre-container br { display: none; }
#imc-add-band-form h1 { font-size: 30px; margin: 0; }
/* Like */
.lbg-style3 img { background: url('../../wp-content/plugins/in-my-city/images/thumbs-up.png')!important; background-size: 100%!important; }
.watch-action { margin: 0 0 20px 0; }
.lbg-style3 img, .unlbg-style3 img { width: 45px; height: 45px; }
.lbg-style3 .lc { background: #009dd7; padding: 4px 8px; margin-left: 15px; color: #efefef; }
.lbg-style3 img:hover { background: url('../../wp-content/plugins/in-my-city/images/thumbs-up.png')!important; background-size: 100%!important; }
body.imc.page h1 { display: inline-block; }
body.imc.page .watch-position.align-left { float: none; display: inline-block; margin-left: 25px; }
body.imc.page .status.align-left { float: right; }

/* Footer */
.tm-footer { background: rgba(0, 0, 0, 0.9); padding: 20px; border-radius: 4px; }
.tm-footer ul li ul { display: none; }
.tm-footer ul li a, .tm-footer ul li a:visited { color: #fff!important; }
.tm-footer .uk-subnav>li { margin: 0 10px 0 0; padding: 0; }
.tm-footer li.uk-parent.uk-nav-header { display: none; }
/* misc */
#searchform { color: #000; }
.hidden { display: none!important; }
a.uk-navbar-toggle.uk-visible-small { position: fixed!important; top: 1px; background: #fff; }

@media (max-width: 1225px) {
  main.tm-content { width: 70%; }
  aside.sidebar { width: 26%; }
}
@media (max-width: 1024px) {
  .half-hh, .half-hh .hh { width: 100%; }
  .uk-navbar-nav>li>a { margin-left: 0; margin-right: 0; }
}


@media (max-width: 898px) {
  main.tm-content { width: 100%; max-width: 100%;  }
  aside.sidebar { width: 100%; max-width: 100%; margin-left: 0; margin-right: 0; }
  #goto-filters { display: block; float: right; background: rgba(255,255,255,0.96); color: #6fa032; padding: 10px; margin: 10px 0; cursor: pointer; }
  #goto-filters:after { content: "\f077"; font-family: "FontAwesome"; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
}

@media (max-width: 825px) {
  .uk-navbar-nav>li>a { font-size: 12px; }
}
@media (max-width: 767px) {
    #venue-this-week { text-align: center; }
    .home #event-totals-home { padding: 15px 0 0 0; margin-left: 0; }
    .half-home { width: 100%; }
    /*.uk-hidden-small { display: none; }*/
    .nothing { display: none; }
    .hh td:nth-child(4n+4), .hh td:nth-child(5n+5) { display: none; }
    .daily-hh h3 { display: block; }

    /* Events */
    #tribe-bar-collapse-toggle { color: #000; }

    /* Happy Hour */
    #favorite-hh-form { left: 40px; }


    /* Venues */
    .venue { width: 100%; max-width: 100%; }

    /* Venue */
    .half-venue, #venue-hh.half-venue {  width: 100%;}
    .venue-main-details { width: 100%!important; }
    .map-details { background: #efefef; border-bottom: 8px solid #94ca51; border-radius: 15px 15px 0 0; }
    .map-details img.map-image { border: none; }
    .map-details, .venue-excitement { width: 100%; text-align: center; }
    #venue-map-details { width: 100%; }

    /* Blog */
    #blog-container { padding: 20px 0;}
    //.tm-main { padding-left: 0; }
    #blog-container>* { width: 90%; }
    td { font-size: .7em; line-height: .9em; }
    .eventColumn * { font-size: .9em!important; line-height: 1.5em!important; }
    table.hh {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    .hh tbody tr:nth-child(even)  td { background-color: #eee; }
    table.hh {  overflow-x: auto; text-align: center; display: inline-block;  }
    h3 { font-size: .9em!important; line-height: 1.5em!important; margin-bottom: 5px; }
    .hh * { font-size: .85em!important; line-height: 1.5em!important; }
    .half-hh { width: 100%; }
    table.hh td { padding: 4px; }
    .daily-hh h3 { margin: 4px; }
    .tribe-events-list .vevent.hentry h2 { font-size: 1.1em; }
    .tribe-events-loop .vevent { width: 100%; }
    .tribe-events-ical.tribe-events-button { margin-top: 50px; }
    h2 { font-size: 1.4em; line-height: 1.5em; }
    #favorite-hh-form label { padding: 8px; }
    #best-hh-data td { font-size: 1.1em; line-height: 1.2em; padding: 3px; }
    #best-hh-data td.venue-name { text-align: center; }
    .venue-image-details { width: 100%; }
    .venue-main-bottom .logo { width: 100%!important; }
    #venue-this-week .left, #venue-this-week .right { width: 100%; }
    .event-container a { display: block; }
    .venue .logo { width: 100%; }
    .single-tribe_events h2.tribe-events-single-event-title { font-size: 1.1em;}
    body.single-tribe_events dl{ width: 100%; }
    .tribe-events-meta-group.tribe-events-meta-group-details { padding: 0;}
    .event-map, .event-map * { width: 100%; }
    .uk-img-preserve, .uk-img-preserve img, img[src*="maps.gstatic.com"], img[src*="googleapis.com"] { max-width: 100%; }
    #tribe-events-pg-template { padding: 0; }
    .home #venue-events { padding-bottom: 0;}
    .home .events-list .eventRow .eventColumn { padding: 5px; }
    .daily-hh-list { padding: 20px 0; display: inline-block; text-align: center; }
    

}
@media (max-width: 600px) {
    #mobile-container { display: block; cursor: pointer; }
    .logoMain { width: 100%; }
    #imc-campaign-5 { display: block; text-align: center; width: 100%; }
    ul#campaign-2 { width: 300px!important; display: inline-block; }
    .tm-content { margin-top: 20px; }

    .uk-navbar-nav { position: absolute; height: 100%; background: rgba(255,255,255,0.96); right: -300px; width: 300px; top: 40px; z-index: 150; }
    .uk-navbar-nav>li { float: none;  width: 100%; text-align: left; display: block!important; position: relative; }
    .uk-navbar-nav>li>a { color: #009dd7; font-size: 18px; }
    .uk-navbar-nav>li.uk-active>a, .uk-navbar-nav>li>a:hover, .uk-navbar-nav>li.uk-open>a { margin: 0; border-radius: 0; }
    #wpadminbar { display: none; }
    #mobile-container { position: absolute; z-index: 100; left: 0; top: 0; background: #fff; color: #009dd7; padding: 5px 0; width: 100%; line-height: 29px; height: 30px; }

    #mobile-menu { display: inline-block; width: 25px; padding: 5px 5px 1px 5px; background: #fff; float: right; }
    .icon-bar { border-bottom: 4px solid #000; margin-bottom: 4px; display: block; }
}

@media (max-width: 321px) {

}


#wpbody-content #messageerror { display: none; } 